extends layout

block content 
  h1= title 
  p 
    a(href='/brand/create') Add brand 
  ul 
    each brand in brand_list
      li 
        a(href=brand.url) #{brand.name}
    else 
      li There are no brands.