extends layout

block content
  h1 #{title}: #{instrument.name}
  p= instrument.description

  p Do you really want to delete this instrument?
  
  form(method='POST' action='')
    div.form-group
      input#instrumentid.form-control(type='hidden',name='instrumentid', required='true', value=instrument._id )
    button.btn.btn-primary(type='submit') Delete