*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-default-light: #ffffff;
  --color-default-dark: #2b2d42;
  --color-alpha: #118ab2;
  --color-beta: #073b4c;
  --color-success: #06d6a0;
  --color-danger: #ef476f;
  --color-warning: #ffd166;
}

body {
  display: grid;
  grid-template: 100px auto / 1fr;
}

header {
  background-color: var(--color-alpha);
  color: var(--color-default-light);
  display: grid;
  place-items: center;
  font-weight: bold;
}

header li {
  list-style: none;
  display: grid;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--color-default-light);
  width: 120px;
  height: 60px;
  border: 3px solid var(--color-default-light);
  border-radius: 11px;
  display: grid;
  place-items: center;
}

header a:hover {
  background-color: var(--color-default-light);
  color: var(--color-alpha);
}

header menu {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

main {
  padding: 30px;
  display: grid;
  gap: 20px;
}

form {
  display: grid;
  gap: 20px;
}

button {
  border: none;
  background-color: var(--color-success);
  height: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 11px;
}

input,
select,
textarea {
  padding: 10px 5px;
  font-size: 1.2rem;
}

a {
  color: var(--color-beta);
}

p {
  margin: 20px 0;
}

p > a {
  border: 3px solid var(--color-alpha);
  background-color: var(--color-alpha);
  color: var(--color-default-light);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 11px;
}

p > a:hover {
  background-color: var(--color-default-light);
  color: var(--color-alpha);
}

ul {
  list-style: none;
  display: grid;
  gap: 10px;
  margin: 20px 0;
  font-size: 1.2rem;
}

select:focus {
  background-color: var(--color-default-light);
}

button:hover {
  opacity: 0.8;
}

.form-group {
  display: grid;
}

.text-success {
  color: var(--color-success);
}

.text-danger {
  color: var(--color-danger);
}

.text-warning {
  color: var(--color-warning);
}
